{% load static %}
<html>
    <head>
        <title>Ruminate</title>
        <link rel="stylesheet" href="{% static 'normalize.css' %}">
        <link rel="stylesheet" href="{% static 'app.css' %}">
    </head>
    <body>
        <nav>
            <h1><img src="{% static 'logo2.svg' %}" alt="">Ruminate</h1>
        </nav>

            <!--<ul>
                <li>
                    <a href="" class="button live">Live Now</a>
                    <span>Justin Kim</span>
                </li>                
                <li>
                    <a href="" class="button live">Live Now</a>
                    <span>Justin Kim, II</span>
                </li>-->
                {% if live_list %}
        <header>
            <ul>
                {% for entry in live_list %}
                <li>
                    <a href="" class="button live">Live Now</a>
                    <span>{{ entry.teaching_assistant }}</span>
                </li>
                {% endfor %}
            </ul>
       </header>
                {% else %}
                {% endif %}
                <!-- <li>
                    <a href="" class="button live">Live Now</a>
                    <span>Justin Kim, II</span>
                </li>
                <li>
                    <a href="" class="button live">Live Now</a>
                    <span>Justin Kim, II</span>
                </li> -->
            </ul>
 
        <div id="wrap">
            <aside>
                <section id="classes">
                    <h3>Classes</h3>
                    <ul>
                        {% if class_list %}
                        {% for entry in class_list %}
                        <!--
                        <li>CS 2840: Networks</li>
                        <li>CS 3410: Computer Architecture</li>
                        <li>BTRY 3080: Statistics & Probabilities</li>
                        <li>ECE 2300: Digital Logic</li>-->
                        <li>{{entry.name}}</li>
                        {% endfor %}
                        {% else %}
                        <li>You are not enrolled in any classes</li>
                        {% endif %}
                    </ul>
                </section>
                <section id="hours">
                    <h3>Upcoming Hours</h3>
                    <section class="hour">
                        <h4>Timeframe</h4>
                        <ul>
                            <li>2:00PM Carlos Gonzalez</li>
                            <li>2:00PM Carlos Gonzalez</li>
                            <li>2:00PM Carlos Gonzalez</li>
                        </ul>
                    </section>
                    <section class="hour">
                        <h4>Timeframe</h4>
                        <ul>
                            <li>2:00PM Carlos Gonzalez</li>
                            <li>2:00PM Carlos Gonzalez</li>
                            <li>2:00PM Carlos Gonzalez</li>
                        </ul>
                    </section>
                    <section class="hour">
                        <h4>Timeframe</h4>
                        <ul>
                            <li>2:00PM Carlos Gonzalez</li>
                            <li>2:00PM Carlos Gonzalez</li>
                            <li>2:00PM Carlos Gonzalez</li>
                        </ul>
                    </section>
                </section>
            </aside>
            <div id="content">
                {% if old_list %}
                {% for entry in old_list %}
                {% if entry %}
                <article>
                    <h2>{{entry.0.start_time|date:""}}</h2>
                    <ul>
                        <li>
                            <a href="" class="watch button">Watch</a>
                            <span>Eli Hopscotch</span>
                            <div class="chevron"><img src="{% static 'chevron.svg' %}" alt=""></div>
                            <div class="panel">
                                <div class="question">
                                    <div class="timestamp">0:00</div>
                                    <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
                                </div>
                                <div class="question">
                                    <div class="timestamp">4:21</div>
                                    <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
                                </div>
                                <div class="question">
                                    <div class="timestamp">7:48</div>
                                    <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
                                </div>
                            </div>
                        </li>
                        
                        <li>
                            <a href="" class="watch button">Watch</a>
                            <span>Yash Sahtota</span>
                            <div class="chevron"><img src="{% static 'chevron.svg' %}" alt=""></div>
                            <div class="panel">
                                    <div class="question">
                                        <div class="timestamp">0:00</div>
                                        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
                                    </div>
                                    <div class="question">
                                        <div class="timestamp">4:21</div>
                                        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
                                    </div>
                                    <div class="question">
                                        <div class="timestamp">7:48</div>
                                        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
                                    </div>
                                </div>
                        </li>
                        <li>
                            <a href="" class="watch button">Watch</a>
                            <span>Ryan Slama</span>
                            <div class="chevron"><img src="{% static 'chevron.svg' %}" alt=""></div>
                            <div class="panel">
                                    <div class="question">
                                        <div class="timestamp">0:00</div>
                                        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
                                    </div>
                                    <div class="question">
                                        <div class="timestamp">4:21</div>
                                        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
                                    </div>
                                    <div class="question">
                                        <div class="timestamp">7:48</div>
                                        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
                                    </div>
                                </div>
                        </li>
                        <li>
                            <a href="" class="watch button">Watch</a>
                            <span>Arjun Bhalla</span>
                            <div class="chevron"><img src="{% static 'chevron.svg' %}" alt=""></div>
                            <div class="panel">
                                    <div class="question">
                                        <div class="timestamp">0:00</div>
                                        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
                                    </div>
                                    <div class="question">
                                        <div class="timestamp">4:21</div>
                                        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
                                    </div>
                                    <div class="question">
                                        <div class="timestamp">7:48</div>
                                        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </article>
                    {% endif %}
                    {% endfor %}
                    {% endif %}
            </div>
        </div>
    </body>

    <script>
    var acc = document.getElementsByClassName("chevron");
    var i;
    
    for (i = 0; i < acc.length; i++) {
        acc[i].onclick = function(){
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            panel.classList.toggle("active");
        }
    }
    </script>
</html>
