<html>
    <head>
        <title>Ruminate</title>
        <link rel="stylesheet" href="normalize.css">
        <link rel="stylesheet" href="app.css">
    </head>
    <body>
        <nav>
            <h1><img src="logo2.svg" alt="">Ruminate</h1>
        </nav>
        <header>
            <ul>
                <li>
                    <a href="" class="button live">Live Now</a>
                    <span>Justin Kim</span>
                </li>                
                <li>
                    <a href="" class="button live">Live Now</a>
                    <span>Justin Kim, II</span>
                </li>
                <!-- <li>
                    <a href="" class="button live">Live Now</a>
                    <span>Justin Kim, II</span>
                </li>
                <li>
                    <a href="" class="button live">Live Now</a>
                    <span>Justin Kim, II</span>
                </li> -->
            </ul>
        </header>
        <div id="wrap">
            <aside>
                <section id="classes">
                    <h3>Classes</h3>
                    <ul>
                        <li>CS 2840: Networks</li>
                        <li>CS 3410: Computer Architecture</li>
                        <li>BTRY 3080: Statistics & Probabilities</li>
                        <li>ECE 2300: Digital Logic</li>
                    </ul>
                </section>
                <section id="hours">
                    <h3>Upcoming Hours</h3>
                    <section class="hour">
                        <h4>Timeframe</h4>
                        <ul>
                            <li>2:00PM Carlos Gonzalez</li>
                            <li>2:00PM Carlos Gonzalez</li>
                            <li>2:00PM Carlos Gonzalez</li>
                        </ul>
                    </section>
                    <section class="hour">
                        <h4>Timeframe</h4>
                        <ul>
                            <li>2:00PM Carlos Gonzalez</li>
                            <li>2:00PM Carlos Gonzalez</li>
                            <li>2:00PM Carlos Gonzalez</li>
                        </ul>
                    </section>
                    <section class="hour">
                        <h4>Timeframe</h4>
                        <ul>
                            <li>2:00PM Carlos Gonzalez</li>
                            <li>2:00PM Carlos Gonzalez</li>
                            <li>2:00PM Carlos Gonzalez</li>
                        </ul>
                    </section>
                </section>
            </aside>
            <div id="content">
                <article>
                    <h2>Thursday, November 28th</h2>
                    <ul>
                        <li>
                            <a href="" class="watch button">Watch</a>
                            <span>Eli Hopscotch</span>
                            <div class="chevron"><img src="chevron.svg" alt=""></div>
                            <div class="panel">
                                <div class="question">
                                    <div class="timestamp">0:00</div>
                                    <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
                                </div>
                                <div class="question">
                                    <div class="timestamp">4:21</div>
                                    <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
                                </div>
                                <div class="question">
                                    <div class="timestamp">7:48</div>
                                    <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
                                </div>
                            </div>
                        </li>
                        
                        <li>
                            <a href="" class="watch button">Watch</a>
                            <span>Yash Sahtota</span>
                            <div class="chevron"><img src="chevron.svg" alt=""></div>
                            <div class="panel">
                                    <div class="question">
                                        <div class="timestamp">0:00</div>
                                        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
                                    </div>
                                    <div class="question">
                                        <div class="timestamp">4:21</div>
                                        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
                                    </div>
                                    <div class="question">
                                        <div class="timestamp">7:48</div>
                                        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
                                    </div>
                                </div>
                        </li>
                        <li>
                            <a href="" class="watch button">Watch</a>
                            <span>Ryan Slama</span>
                            <div class="chevron"><img src="chevron.svg" alt=""></div>
                            <div class="panel">
                                    <div class="question">
                                        <div class="timestamp">0:00</div>
                                        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
                                    </div>
                                    <div class="question">
                                        <div class="timestamp">4:21</div>
                                        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
                                    </div>
                                    <div class="question">
                                        <div class="timestamp">7:48</div>
                                        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
                                    </div>
                                </div>
                        </li>
                        <li>
                            <a href="" class="watch button">Watch</a>
                            <span>Arjun Bhalla</span>
                            <div class="chevron"><img src="chevron.svg" alt=""></div>
                            <div class="panel">
                                    <div class="question">
                                        <div class="timestamp">0:00</div>
                                        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
                                    </div>
                                    <div class="question">
                                        <div class="timestamp">4:21</div>
                                        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
                                    </div>
                                    <div class="question">
                                        <div class="timestamp">7:48</div>
                                        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </article>
                <article>
                        <h2>Tuesday, November 28th</h2>
                        <ul>
                            <li>
                                <a href="" class="watch button">Watch</a>
                                <span>Eli Hopscotch</span>
                                <div class="chevron"><img src="chevron.svg" alt=""></div>
                                <div class="panel">
                                    <div class="question">
                                        <div class="timestamp">0:00</div>
                                        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
                                    </div>
                                    <div class="question">
                                        <div class="timestamp">4:21</div>
                                        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
                                    </div>
                                    <div class="question">
                                        <div class="timestamp">7:48</div>
                                        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
                                    </div>
                                </div>
                            </li>
                            
                            <li>
                                <a href="" class="watch button">Watch</a>
                                <span>Yash Sahtota</span>
                                <div class="chevron"><img src="chevron.svg" alt=""></div>
                                <div class="panel">
                                        <div class="question">
                                            <div class="timestamp">0:00</div>
                                            <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
                                        </div>
                                        <div class="question">
                                            <div class="timestamp">4:21</div>
                                            <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
                                        </div>
                                        <div class="question">
                                            <div class="timestamp">7:48</div>
                                            <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
                                        </div>
                                    </div>
                            </li>
                            <li>
                                <a href="" class="watch button">Watch</a>
                                <span>Ryan Slama</span>
                                <div class="chevron"><img src="chevron.svg" alt=""></div>
                                <div class="panel">
                                        <div class="question">
                                            <div class="timestamp">0:00</div>
                                            <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
                                        </div>
                                        <div class="question">
                                            <div class="timestamp">4:21</div>
                                            <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
                                        </div>
                                        <div class="question">
                                            <div class="timestamp">7:48</div>
                                            <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
                                        </div>
                                    </div>
                            </li>
                            <li>
                                <a href="" class="watch button">Watch</a>
                                <span>Arjun Bhalla</span>
                                <div class="chevron"><img src="chevron.svg" alt=""></div>
                                <div class="panel">
                                    <div class="question">
                                        <div class="timestamp">0:00</div>
                                        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
                                    </div>
                                    <div class="question">
                                        <div class="timestamp">4:21</div>
                                        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
                                    </div>
                                    <div class="question">
                                        <div class="timestamp">7:48</div>
                                        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </article>
                <article>
                    <h2>Monday, November 27th</h2>
                    <ul>
                        <li>
                            <a href="" class="watch button">Watch</a>
                            <span>Eli Hopscotch</span>
                            <div class="chevron"><img src="chevron.svg" alt=""></div>
                            <div class="panel">
                                <div class="question">
                                    <div class="timestamp">0:00</div>
                                    <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
                                </div>
                                <div class="question">
                                    <div class="timestamp">4:21</div>
                                    <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
                                </div>
                                <div class="question">
                                    <div class="timestamp">7:48</div>
                                    <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
                                </div>
                            </div>
                        </li>
                        
                        <li>
                            <a href="" class="watch button">Watch</a>
                            <span>Yash Sahtota</span>
                            <div class="chevron"><img src="chevron.svg" alt=""></div>
                            <div class="panel">
                                    <div class="question">
                                        <div class="timestamp">0:00</div>
                                        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
                                    </div>
                                    <div class="question">
                                        <div class="timestamp">4:21</div>
                                        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
                                    </div>
                                    <div class="question">
                                        <div class="timestamp">7:48</div>
                                        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
                                    </div>
                                </div>
                        </li>
                        <li>
                            <a href="" class="watch button">Watch</a>
                            <span>Ryan Slama</span>
                            <div class="chevron"><img src="chevron.svg" alt=""></div>
                            <div class="panel">
                                    <div class="question">
                                        <div class="timestamp">0:00</div>
                                        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
                                    </div>
                                    <div class="question">
                                        <div class="timestamp">4:21</div>
                                        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
                                    </div>
                                    <div class="question">
                                        <div class="timestamp">7:48</div>
                                        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
                                    </div>
                                </div>
                        </li>
                        <li>
                            <a href="" class="watch button">Watch</a>
                            <span>Arjun Bhalla</span>
                            <div class="chevron"><img src="chevron.svg" alt=""></div>
                            <div class="panel">
                                    <div class="question">
                                        <div class="timestamp">0:00</div>
                                        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
                                    </div>
                                    <div class="question">
                                        <div class="timestamp">4:21</div>
                                        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
                                    </div>
                                    <div class="question">
                                        <div class="timestamp">7:48</div>
                                        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
                                    </div>
                                </div>
                        </li>
                    </ul>
                </article>

            </div>
        </div>
    </body>

    <script>
    var acc = document.getElementsByClassName("chevron");
    var i;
    
    for (i = 0; i < acc.length; i++) {
        acc[i].onclick = function(){
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            panel.classList.toggle("active");
        }
    }
    </script>
</html>
